<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
    <div class="topnav">
        <a class="active" href="/?user=<%= user._id %>">Home</a>
    </div>
    <h1>Add Recipe</h1>
    <form action="/add/recipe" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="id" value="<%= user._id %>" />
        <input name="myImage" type="file" /><br>
        <input type="text" placeholder="Meal Name" name="mealName" required /><br>
        <textarea name="description" placeholder="Description" required></textarea><br>
        <textarea name="ingredients" placeholder="Ingredients" required></textarea><br>
        <textarea name="instructions" placeholder="Instructions for Preparing" required></textarea><br>
        <input type="text" placeholder="Prep Time" name="prepTime" required /><br>
        <input type="submit" value="Add Recipe" />
    </form>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>