<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script>
</head>

<body>
    <div class="topnav">
        <a href="/?user=<%= currentUser%>">Home</a>
    </div>
    <h1>Edit Recipe</h1>
    <form action="/edit/<%= recipe._id %>/<%= currentUser%>?_method=PUT" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="id" value="<%= recipe.userId %>" />
        <input name="myImage" type="file" /><br>
        <input type="text" placeholder="Meal Name" name="mealName" value="<%= recipe.mealName %>" required /><br>
        <textarea name="description" placeholder="Description" required><%= recipe.description %></textarea><br>
        <textarea name="ingredients" placeholder="Ingredients" required><%= recipe.ingredients %></textarea><br>
        <textarea name="instructions" placeholder="Instructions for Preparing"
            required><%= recipe.instructions %></textarea><br>
        <input type="text" placeholder="Prep Time" name="prepTime" value="<%= recipe.prepTime %>" required /><br>
        <input id="edit" type="submit" value="Edit Recipe" />
    </form>
    <a href="/delete/<%= recipe._id %>/<%= currentUser%>"><button
            style="background-color: lightcoral;">Delete</button></a>
    <script>
        document.querySelector("#edit").addEventListener("click", function () {
            JSAlert.loader("Please wait...").dismissIn(8000);
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>