<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/?user=<%= currentUser%>">Home</a>
    </div>
    <img src="<%= recipe.imageURL %>" /><br>
    <h1><%= recipe.mealName %></h1><br>
    <pre><%= recipe.description %></p></pre><br>
    <h3>Ingredients</h3><br>
    <pre><p><%= recipe.ingredients %></p></pre><br>
    <h3>Preparing</h3><br>
    <pre><p><%= recipe.instructions %></p></pre><br>
    <h3>Prep Time</h3><br>
    <p><%= recipe.prepTime %></p><br>
    <% if (recipe.userId === currentUser || userType === 'admin') { %>
    <a href="/recipe/edit/<%= recipe._id %>?user=<%= currentUser%>"><button
            style="background-color: #4CAF50;">Edit</button></a>
    <% } %>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>